<div class="container">
  <div class="modal">
    <div class="headerModal">
      <h1>Liste des employés :</h1>
    </div>
    <div class="bodyModal">
      <table
        mat-table
        [dataSource]="employes"
        multiTemplateDataRows
        class="mat-elevation-z8"
      >
        <ng-container
          matColumnDef="{{ column }}"
          *ngFor="let column of columnsToDisplay"
        >
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplay.length"
          >
            <div
              class="example-element-detail"
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <div class="adresse">
                <div class="detail-adresse">
                  <h3>Congés :</h3>
                  <p>Congés aquis : {{element.congesAquis}}</p>
                  <p>Congés posés : {{element.congesPoses}}</p>
                  <p>RTT aquis : {{element.rttAquis}}</p>
                  <p>RTT posés : {{element.rttPoses}}</p>
                  <p>Demande d'absence en cours : {{element.demandesAbsence.length}}</p>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplay"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="
            expandedElement = expandedElement === element ? null : element
          "
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>
    </div>
    <div class="footerModal">
      <span></span>
    </div>
  </div>
</div>
