<div class="container">
    <div class="modal">
        <div class="modalHeader">
            <h1>Supprimer un jour férié </h1>
        </div>
        <form [formGroup]="deletejourForm">
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Jour férié à supprimer</mat-label>
                    <mat-select class="form-control" formControlName="id" required>
                      <mat-option *ngFor="let jour of jours" [value]="jour.id" >
                          {{jour.libelle}} 
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </form>
        <div class="modalFooter">
            <p *ngIf="msg">{{msg}}</p>
            <button mat-raised-button color="primary" (click)="deleteJour()">Envoyer</button>
        </div>
    </div>
  </div>