<div class="container">
    <div class="modal">
        <div class="modalHeader">
            <h1>Supprimer une demande de congé</h1>
        </div>
        <form>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Conge à supprimer</mat-label>
                    <mat-select required>
                      <mat-option *ngFor="let conge of conges"  (click)="deleteConge(conge.id)">
                          {{conge.dateDebut}} {{conge.dateFin}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <p *ngIf="msg">{{msg}}</p>
        </form>
        <div class="modalFooter">
            <button mat-raised-button color="primary" >Envoyer</button>
        </div>
    </div>
  </div>