<div class="container">
    <div class="modal">
        <div class="headerModal">
            <h1>Congés Pris :</h1>
        </div>
        <div class="bodyModal">
            <full-calendar [options]="calendarOptions" id="calendar"></full-calendar>
            <div class="legende">
                <div class="color">
                   <span class="initiale"></span>
                   <p>Statut initial</p> 
                </div>
                <div class="color">
                    <span class="attente"></span>
                    <p>Statut en attente</p> 
                 </div>
                 <div class="color">
                    <span class="valide"></span>
                    <p>Statut validé</p> 
                 </div>
                 <div class="color">
                    <span class="rejete"></span>
                    <p>Statut rejeté</p> 
                 </div>
                 <div class="color">
                    <span class="ferie"></span>
                    <p>Jour férié</p> 
                 </div>
            </div>
        </div>
        <div class="footerModal">
            <div>
                <p>congesAquis : {{conges.collaborateur.congesAquis}}</p>
                <p>congesPosés : {{conges.collaborateur.congesPoses}}</p>
            </div>
            <div>
                <a style="cursor: pointer" (click)="exportexcel()">
                    export exel<mat-icon> cloud_download</mat-icon>
                </a>
            </div>

        </div>
    </div>  
</div> 