$primary-color : #303030;
$secondary-color : #1D1D1D;
$terciary-color : #317474;
$font-color : white;

.container{
    padding-top: 2%;
    .modal{
        width: 60%;
        margin: 0 auto;
        border: 1px solid grey;
        border-top: none;
        border-left: none;
        box-shadow: 5px 5px 10px 1px #000;
        border-radius: 10px;
        .headerModal{
            background-color: $secondary-color;
            text-align: center;
            color: $font-color;
            border-radius: 10px 10px 0 0;
            h1{
                margin: 0;
                padding: 20px;
            }
        }
        .bodyModal{
            background-color: $primary-color;
            padding: 10px;
            color: $font-color;
            full-calendar{
                width: 60%;
                height: 60vh;
                margin: 0 auto;
            }
            .legende{
                display: flex;
                justify-content: space-around;
                margin-top: 20px;
                .color{
                    display: flex;
                    
                    span{
                        height: 20px;
                        width: 20px;
                        display: block;
                        margin-right: 10px;
                    }
                    .initiale{
                        background-color: #0035B9;
                    }
                    .attente{
                        background-color: #B97300;
                    }
                    .valide{
                        background-color: #2099D6;
                    }
                    .rejete{
                        background-color: #B60021;
                    }
                    .ferie{
                        background-color: #B6A800;
                    }
                    p{
                        vertical-align: middle;
                    }
                }

            }
  
        }
        .footerModal{
            background-color: $secondary-color;
            width: 100%;
            border-radius: 0 0 10px 10px;
            display: flex;
            justify-content: center;
            color: $font-color;
            a{
                padding: 25px;
                display: flex;
                vertical-align: middle;
            }
            mat-icon{
                padding-left: 10px;
            }
        }
    }


}         
