<div class="container">
    <div class="modal">
        <div class="headerModal">
            <h1>Planning congés :</h1>
        </div>
        <div class="bodyModal">
            <full-calendar [options]="calendarOptions" id="calendar"></full-calendar>
        </div>
        <div class="footerModal">
            <a style="cursor: pointer" (click)="exportexcel()">
                export exel<mat-icon> cloud_download</mat-icon>
            </a>
        </div>
    </div>  
    <div class="modal">
        <div class="headerModal">
            <h1>Planning congés :</h1>
        </div>
        <div class="bodyModal" id="graph">
        </div>
        <div class="footerModal">
            <a style="cursor: pointer" (click)="exportexcel()">
                export exel<mat-icon> cloud_download</mat-icon>
            </a>
        </div>
    </div>  
</div>