<div class="container">
    <div class="modal">
        <div class="modalHeader">
            <h1>Poser un congé</h1>
        </div>
        <form [formGroup]="addJourForm">
            <div class="input flex">
              <mat-form-field appearance="fill" class="date">
                <mat-label>Date de debut des congés</mat-label>
                <input matInput [matDatepicker]="datepicker " required class="form-control" formControlName="dateDebut">
                <mat-datepicker-toggle matSuffix [for]="datepicker "></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Retour</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Ok</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Date de fin des congés</mat-label>
                <input matInput [matDatepicker]="picker" class="form-control" formControlName="dateFin">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Libellé</mat-label>
                <input matInput placeholder="Ex. paques" class="form-control" formControlName="libelle" >
              </mat-form-field>
        </form>
        <div class="modalFooter">
            <button mat-raised-button color="primary" (click)="addJour()">Envoyer</button>
        </div>
    </div>
  </div>