<div class="container">
    <div class="modal">
        <div class="modalHeader">
            <h1>Valider Demande de congés</h1>
        </div>
        <form>
            <table mat-table [dataSource]="conges" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="Nom">
                  <th mat-header-cell *matHeaderCellDef> Nom </th>
                  <td mat-cell *matCellDef="let conges"> {{conges.collaborateur.nom}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="Prenom">
                  <th mat-header-cell *matHeaderCellDef> Prenom </th>
                  <td mat-cell *matCellDef="let conges"> {{conges.collaborateur.prenom}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="Type">
                  <th mat-header-cell *matHeaderCellDef> Type </th>
                  <td mat-cell *matCellDef="let conges"> {{conges.typeAbsence}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="Motif">
                  <th mat-header-cell *matHeaderCellDef> Motif </th>
                  <td mat-cell *matCellDef="let conges"> {{conges.motifAbsence}} </td>
                </ng-container>

                <ng-container matColumnDef="Date de début">
                    <th mat-header-cell *matHeaderCellDef> Debut </th>
                    <td mat-cell *matCellDef="let conges"> {{conges.dateDebut}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Date de fin">
                    <th mat-header-cell *matHeaderCellDef> Fin </th>
                    <td mat-cell *matCellDef="let conges"> {{conges.dateFin}} </td>
                  </ng-container>

                  <ng-container matColumnDef="button">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let conges"> 
                        <fa-icon class="truc" [icon]="valid" (click)="validConge(conges)"></fa-icon> 
                        <fa-icon class="truc" [icon]="notValid" (click)="rejectConge(conges)"></fa-icon> 
                    </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </form>
        <div class="modalFooter">
            <button mat-raised-button color="primary">Envoyer</button>
        </div>
    </div>
  </div>