<body>
  <div class="user">
  <p>Bienvenue {{user.nom}} {{user.prenom}}</p>
  <p>connecter en tant que <span class="lowercase">{{user.roles[0].authority}}</span></p>
</div>
<main class="site-wrapper">
  <div class="pt-table desktop-768">
    <div class="pt-tablecell page-home relative">
      <div class="container">
        <div class="hexagon-menu clear">
          <div class="hexagon-item" [routerLink]="['/addconges']" routerLinkActive="router-link-active" >
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <a class="hex-content">
              <span class="hex-content-inner">
                <span class="title">Prendre mes Congés</span>
              </span>
              <svg 
                viewBox="0 0 173.20508075688772 200"
                height="200"
                width="174"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path 
                  d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                  fill="#1e2530"
                ></path>
              </svg>
            </a>
          </div>
          <div class="hexagon-item" [routerLink]="['/modifyconges']" routerLinkActive="router-link-active">
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <a class="hex-content">
              <span class="hex-content-inner">
                <span class="title">Modifier mes congés</span>
              </span>
              <svg
                viewBox="0 0 173.20508075688772 200"
                height="200"
                width="174"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                  fill="#1e2530"
                ></path>
              </svg>
            </a>
          </div>
          <div class="hexagon-item" [routerLink]="['/congespris']" routerLinkActive="router-link-active" >
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <a class="hex-content">
              <span class="hex-content-inner">
                <span class="title">mes Congés Pris</span>
              </span>
              <svg
                viewBox="0 0 173.20508075688772 200"
                height="200"
                width="174"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                  fill="#1e2530"
                ></path>
              </svg>
            </a>
          </div>
          <div class="hexagon-item" [routerLink]="['/planningconges']" routerLinkActive="router-link-active" *ngIf="role === 'ADMINISTRATEUR'">
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <a class="hex-content">
              <span class="hex-content-inner">
                <span class="icon">
                  <i class="fa fa-id-badge"></i>
                </span>
                <span class="title">voir planning congés</span>
              </span>
              <svg
                viewBox="0 0 173.20508075688772 200"
                height="200"
                width="174"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                  fill="#1e2530"
                ></path>
              </svg>
            </a>
          </div>
          <div class="hexagon-item" *ngIf="role === 'ADMINISTRATEUR'">
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <a class="hex-content">
              <span class="hex-content-inner">
                <span class="icon">
                  <i class="fa fa-clipboard"></i>
                </span>
                <span class="title">valider demande congés</span>
              </span>
              <svg
                viewBox="0 0 173.20508075688772 200"
                height="200"
                width="174"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                  fill="#1e2530"
                ></path>
              </svg>
            </a>
          </div>
          <div class="hexagon-item" [routerLink]="['/gestionemployes']" routerLinkActive="router-link-active" *ngIf="role === 'ADMINISTRATEUR'">
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <a class="hex-content">
              <span class="hex-content-inner">
                <span class="icon">
                  <i class="fa fa-map-signs"></i>
                </span>
                <span class="title">gestion des employés</span>
              </span>
              <svg
                viewBox="0 0 173.20508075688772 200"
                height="200"
                width="174"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                  fill="#1e2530"
                ></path>
              </svg>
            </a>
          </div>
          <div class="hexagon-item" *ngIf="role === 'ADMINISTRATEUR'">
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="hex-item">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <a class="hex-content">
              <span class="hex-content-inner">
                <span class="icon">
                  <i class="fa fa-map-signs"></i>
                </span>
                <span class="title">gestion jours feriés</span>
              </span>
              <svg
                viewBox="0 0 173.20508075688772 200"
                height="200"
                width="174"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                  fill="#1e2530"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<fa-icon class="icon" [icon]="calendar"></fa-icon>
</body>


